body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%; 
    font-family: "Antarctican Mono";
}


@font-face {
    font-family: 'Antarctican Mono';
    src: url('data/AntarcticanMono-Book.ttf') format('truetype');
    font-weight: normal;
}

.landing-page {
    display: flex;
    position:fixed;
    flex-direction: column;
    margin:100px;
}

.landing-title {
    text-align: left;
    line-height: 1;
    font-size: 150px;
}

.enter {
  position:absolute;
  right: 0;
  text-align:right;
  font-size:40px;
  padding-right: 20%;
  margin-top: 40%;
}
